.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    text-align: center;
}


.login-form-button {
    font-size: clamp(8px, 2vw, 18px);
    width: 20vw;
    padding: 1vh;
    margin: 6px;
}

.login-form-input {
    font-size: clamp(8px, 2vw, 18px);
    width: 20vw;
    height: 3vh;
    margin: 6px;
}

.login-form-label {
    text-align: left;
    font-size: clamp(8px, 2vw, 18px);
    margin: 5px;
}

.login-form-button:hover {
    background-color: #0056b3;
  }
  